#navmenu{
  background-color: white;
}
.logo-img{
  height: 60px;
  width: 275px;
  margin-left: 10px;
}
.nav-item{
  font-family: 'Ubuntu', sans-serif;
}
.item-content{
  color: #292b29;
  padding-left: 4px;
  padding-right: 4px;
}
.first-line{
  margin-top: 0;
  background: linear-gradient(to left, red, blue);
  height: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.carousel-img{
  height: 600px;
}
#visionmissiontrust{
  background-color: #f0f2f0;
}
.hito-cards{
  padding: 5%;
}
.card-header{
  text-align: center;
  background-color: grey;
}
.cardhito{
  margin-left: 3%;
  margin-right: 3.5%;
  margin-bottom: 5%;
  margin-top: 3%
}
.mission-img{
  width: 200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
}
