.link-bar{
  background-color: #efefef;
  color: rgb(39, 39, 39);
  padding-top:0.10%;
  padding-bottom:auto;
  padding-left:3.2%;

}
.footer-icon{
  padding-left: 2%;
  padding-right:2.5%;
}
.wlcm{
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
.icons{
  margin-left: 65%;
}
#navmenu{
  background-color: white;
}


.logo-img{
  height: 60px;
  width: 275px;
  margin-left: 10px;
}
.nav-item{
  font-family: 'Ubuntu', sans-serif;
}
.item-content{
  color: #292b29;
  padding-left: 4px;
  padding-right: 4px;
}
.first-line{
  margin-top: 0;
  background: linear-gradient(to left, red, blue);
  height: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.carousel-img{
  height: 600px;
}
#visionmissiontrust{
  background-color: white;
}
.hito-cards{
  padding: 5%;
}
.card-header{
  text-align: center;

}
.cardhito{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 3%
}
.mission{
  width:280px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 1%;
}
.vision{
  width:200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 1%;
}
.header-text{
  text-align: center;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
.card-text{
  font-size: 20px;
}
