.logo-img{
  height: 60px;
  width: 275px;
  margin-left: 10px;
}
.nav-item{
  font-family: 'Ubuntu', sans-serif;
}
.item-content{
  color: #292b29;
  padding-left: 4px;
  padding-right: 4px;
}
.first-line{
  margin-top: 0;
  background: linear-gradient(to left, red, blue);
  height: 3px;
  margin-left: 0;
  margin-right: 0;
}
.carousel-img{
  height: 500px;
}
